.DS_Store
node_modules/
*.env
.env
.venv
env/
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
dist/
dist-ssr/
.eslintcache
.idea/
.vscode/
/eval/golden_set_real_data.json
